<a href="https://colab.research.google.com/github/anxingirl/OMSA_Practicum2022/blob/main/load_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
# read in file
df_medical = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/medical_combine.csv",index_col = 0)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_medical

,Member Life ID,Gender Code,Subscriber Zip Code,Place of Service Code,Type of Service Code,Current Procedural Terminology,CPT Modifier 1,CPT Modifier 2,Primary Diagnosis Code-ICD10,Secondary Diagnosis Code-ICD10,...,Institutional Diagnosis 2-ICD10,Institutional Diagnosis 3-ICD10,Institutional Diagnosis 4-ICD10,Professional Diagnosis 1-ICD10,Discharge Status,Receipt Date,Admission Date,Discharge Date,# of submitted Inpatient Days,# of Services
0,109514,F,20678.0,12,600,A7035,NU,NaN,G4733,*,...,*,*,*,G4733,NaN,8/16/2017,12/31/9999,,0,1
1,109514,F,20678.0,11,6A0,99213,NaN,NaN,J0191,Z6841,...,*,*,*,J0191,NaN,10/19/2017,12/31/9999,,0,1
2,109514,F,20678.0,12,600,A7034,NU,NaN,G4733,*,...,*,*,*,G4733,NaN,11/17/2017,12/31/9999,,0,1
3,109514,F,20678.0,12,600,A7032,NU,NaN,G4733,*,...,*,*,*,G4733,NaN,11/17/2017,12/31/9999,,0,2
4,109514,F,20678.0,12,600,A7035,NU,NaN,G4733,*,...,*,*,*,G4733,NaN,11/17/2017,12/31/9999,,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1623836,M,21042.0,81,8A0,80053,NaN,NaN,R112,*,...,*,*,*,R112,NaN,6/5/2017,12/31/9999,,0,1
1048571,1623836,M,21042.0,81,8A0,85652,NaN,NaN,R112,*,...,*,*,*,R112,NaN,6/5/2017,12/31/9999,,0,1
1048572,4090623,M,21117.0,22,800,88311,NaN,NaN,S83511A,S83281A,...,S83281A,*,*,*,1,8/2/2017,12/31/9999,7/28/2017,0,1
1048573,4090623,M,21117.0,22,400,*,NaN,NaN,S83511A,S83281A,...,S83281A,*,*,*,1,8/2/2017,12/31/9999,7/28/2017,0,181
1048574,4090623,M,21117.0,22,9K0,J3010,NaN,NaN,S83511A,S83281A,...,S83281A,*,*,*,1,8/2/2017,12/31/9999,7/28/2017,0,2

In [ ]:
df_medical